<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <p>proyectos</p>
        </div>
        <div class="col-md-6">
            <p>soluciones</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h1><i>Stack</i> </h1>
            <p>Somos un equipo de desarrollo web y movil full stack enfocados en las PyMes</p>
        </div>
        <div class="col-md-4">
            <h1><i> Objetivos</i> </h1>
            <p>nuestros objetivos son brindar soluciones de calidad a nuestros clientes,
               satisfaciendo cada una de sus necesidades. 
            </p>
        </div>
        <div class="col-md-4">
            <h1> <i>Perfil</i> </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nesciunt veritatis libero quasi dicta nostrum suscipit nemo ipsum odio voluptate 
                laboriosam voluptatum vel consequuntur delectus iure praesentium,
                provident adipisci aut quod?
            </p>
        </div>

    </div>
</div>